<div class="row" style="padding: 58px 10px 1px; background: #FFF" id='contentHome'> 
    
    {# START - ALL THIS FILE RAEE 21/08/2019 14:28 pm #}
    
    <h2><div class="textCenter">Conócenos</div></h2>

    <div class="col-lg-4 col-sm-8 col-md-4 col-xs-12" style="padding-bottom:40px;">

        <div class="textCenter">
            <iframe width="460" height="315" src="https://www.youtube.com/embed/J4G7FWdfKEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class='textCenter'>
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="" style="width: 103px;"/>
            <B><FONT SIZE=5 COLOR="#A11010">A</FONT><FONT SIZE=4 COLOR="#045FB4">utobus </FONT> 
                <FONT SIZE=5 COLOR="#A11010">P</FONT><FONT SIZE=4 COLOR="#045FB4">latinum</FONT></B>
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="" style="width: 103px;"/>
        </div>

    </div>    
    
    
        <div class="col-lg-4 col-sm-8 col-md-4 col-xs-12" style="padding-bottom:40px;">

        <div class="textCenter">
            <iframe width="460" height="315" src="https://www.youtube.com/embed/i96AR2v29U0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class='textCenter'>
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="" style="width: 103px;"/>
            <B><FONT SIZE=5 COLOR="#A11010">A</FONT><FONT SIZE=4 COLOR="#045FB4">utobus </FONT> 
                <FONT SIZE=5 COLOR="#A11010">C</FONT><FONT SIZE=4 COLOR="#045FB4">lase Oro</FONT></B>
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="" style="width: 103px;"/>
        </div>

    </div>    
    
    
            <div class="col-lg-4 col-sm-8 col-md-4 col-xs-12" style="padding-bottom:40px;">

        <div class="textCenter">
            <iframe width="460" height="315" src="https://www.youtube.com/embed/FHgIZX4UmAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class='textCenter'>
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="" style="width: 103px;"/>
            <B><FONT SIZE=5 COLOR="#A11010">V</FONT><FONT SIZE=4 COLOR="#045FB4">iaje a </FONT> 
                <FONT SIZE=5 COLOR="#A11010">P</FONT><FONT SIZE=4 COLOR="#045FB4">etén</FONT></B>
            <img class="dividerline" src="{{ asset('bundles/maya/images/sep.png') }}" alt="" style="width: 103px;"/>
        </div>

    </div>

        {# END - ALL THIS FILE RAEE 21/08/2019 14:28 pm #} 
    
</div>

